*{
    margin:0;
    padding:0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100vh;
    background: #e3f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.calculator{
     width:320px; 
    background: #3a4452;
    border-radius: 10px;
    padding:20px;
 }
 .button{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap:12px;
 }
 .calculator form{
    display: grid;
    grid-template-columns: repeat(4,1fr);}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculator {
    background: #bd20c8;
    padding: 20px;
    border-radius: 15px;
    width: 260px;
}

.display {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.buttons input {
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #3626c7;
    color: white;
}

.operator {
    color: #3c4ed2;
}

.equal {
    grid-column: span 2;
    background: orange;
    color: rgb(26, 90, 185);
    font-weight: bold;
}
